html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    display: block;
}

body, html {
    height: 100%;
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    color: #555;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #888;
}

.paging {
    margin: 0;
    padding: 10px 0px 10px 0px;
}

.paging li {
    display: inline-block;
    min-width: 40px;
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    background: #000;
    vertical-align: middle;
}

.paging li a {
    display: inline-block;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: #000;
    vertical-align: middle;
}

.paging li a.current {
    font-weight: bold;
    text-decoration: none;
    background: #555;
}

.paging .delimiter {
    display: inline-block;
    min-width: 5px;
    height: 20px;
}

.header {
    width: 100%;
    min-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.plank {
    margin: 0 auto;
    width: 1000px;
    background: #777;
    height: 100px;
    display: block;
}

.plank h1 {
    margin: 0px;
    line-height: 100px;
    vertical-align: middle;
    height: 100px;
    float: left;
}

.plank h1 a {
    color: #eee;
    font-size: 24px;
    margin: 20px;
}

.plank .register-form {
    float: right;
}

.plank .register-form {
    float: right;
    width: 300px;
}

.plank .register-form div {

}

.plank .register-form div span {
    width: 60px;
    display: inline-block;
    margin: 0 10px 0 0;
    color: #000;
    font-size: 14px;
}

.plank .register-form input {

}

.plank .register-form div span input {

}

.plank .registered {
    float: right;
    display: inline-block;
    width: 300px;
}

.plank .registered form{
    float: right;
    margin: 10px;
}

.plank .registered span {
    width: 160px;
    display: inline-block;
    margin: 0 10px 0 0;
    color: #000;
    font-size: 14px;
}

.post-form {
    width: 600px;
    margin: 10px;
}

.error {
    color: red;
    display: block;
    margin: 10px;
    font-size:20px;
}

.post-form div span {
    font-size: 14px;
    padding: 10px 0 5px 0;
}

.post-form div textarea {
    width: 500px;
    height: 300px;
}

.post-form div input {
    width: 500px;
}

.post-form div span {
    display: inline-block;
    float: left;
    width: 100px;
}


.post-comment-form {
    width: 600px;
    margin: 10px;
}

.post-comment-form .error {
    color: red;
    display: block;
    margin: 10px;
}

.post-comment-form div span {
    font-size: 14px;
    padding: 10px 0 5px 0;
}

.post-comment-form div textarea {
    width: 500px;
    height: 100px;
}

.post-comment-form div input {
    width: 500px;
}

.post-comment-form div span {
    display: inline-block;
    float: left;
    width: 100px;
}

.entries-list, .entries-item {
    list-style: none;
}

.entries-list .username, .entries-item .username {
    font-weight: bold;
}

.entries-item li, .entries-list li {
    background: #eee;
    margin: 15px 0;
    padding: 10px;
}

div.comments li{
    list-style: none;
}

.comment-item{
    background: #bbb;
    margin:10px;
    padding: 5px;
    font-size:14px;

}

.comment-item .username{
    color:#000;
    font-weight:bold;
}

.comment-item .username .anonymous{
    color:#777;
    font-weight:bold;
}

.comment-item .date{
    color:#666;
    font-weight:bold;
}

.comment-item.selected{
    background: rgba(46, 201, 65, 0.58);
}

.login form span{
    width:200px;
    display: inline-block;
}

.login form .field{
    height:40px;
}

.login form input{
    width:300px;
    margin:10px 0;
    padding: 0;
    height: 40px;
}

.login form .field input{
    width:400px;
    height:30px;
    line-height:30px;
    font-size: 20px;
    border: 1px solid #111;
}

.login .registered{
    margin: 10px 0;
    display: inline-block;
}